:root{
    --main-bg-color-1: #ecf6fb;
    --main-color-1: #008080;
    --main-color-2: #006666;
}

body {
    margin: 0;
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    grid-template-columns: 200px 1fr;
    height: 100vh;
    width: 60vw;
    background-color: var(--main-bg-color-1);
    background-image: url('./images/background_roop.png');
    background-repeat: repeat;
}

nav {
    background-color:var(--main-color-1);
    color: white;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    outline: 2px solid white;
}

nav .padding-box{
    height: 18%;
    width: 100%;
    box-sizing: border-box;
}

nav .pc-only{
    display: block;
}

nav .box{
    color: white;
    display: flex;
    flex-direction: column;
    width: auto;
}

nav a {
    color: white ;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:5px;
    padding-right:10px;
}

nav a:hover {
    background: var(--main-color-2);
    scale: 110%;
}

main {
    overflow-y: auto;
    padding: 20px;
    background-color: white;
    outline: 2px solid white;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color:white;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.bar {
    background-color: var(--main-color-1);
    height: 2px;
    width: 95%;
}

.executeButton {
    background-color: var(--main-color-1);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
    white-space: nowrap;
}

.executeButton:hover{
    background-color: var(--main-color-1);
    transform: scale(1.1); 
    box-shadow: 2px 2px 5px var(--main-color-1);
}

.tabs {
    display: flex;
    width:50%
}

.tab {
    background: #00A0A0;
    padding: 5px 20px;
    border: 1px solid #ddd;
    cursor: pointer;
    border-bottom: none;
    color:white;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    transform-origin:left bottom;
    width:18%;
    text-align: center;
    /* max-width:18%; */
}

.tab.active {
    background: var(--main-bg-color-1);
    font-weight: bold;
    padding: 5px 20px;
    cursor: default;
    pointer-events: none;
    color:black;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    transform-origin:left bottom;
    width:28%;
    transform: scaleY(1.1);
    text-align: center;
    
}

/* モーダルの背景 */
 .modal {
    display: none;  /* 初期状態では非表示 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);  /* 半透明の背景 */
    justify-content: center;
    align-items: center;
}

/* モーダルの内容 */
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
}

/* 閉じるボタン */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* 開くボタン */
.open-modal-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.beam-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.beam {
    position: absolute;
    right: -300px;
    width: 300px;
    box-shadow: white;
    background: linear-gradient(to top, yellow, white, yellow);
    animation: beam-move 1s linear infinite ;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.setter-buttons{
    display: flex;
    width: 90%;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.setter-buttons .item{
    margin: auto;
    width: 25%;
}

.sp-only-break{
    display: none;
}

@keyframes beam-move {
    0% {
        right: -200px;
        width: 10vw;
        height: 10vh;
        opacity: 1;
        border-radius: 100%;
    }
    
    20% {
        right: -300px;
        width: 50vw;
        height: 50vh;
        border-radius: 100%;
        opacity: 1;
    }
    
    30% {
        right: 0px;
        width: 100vw;
        height: 200px;
        border-radius: 0%;
        opacity: 1;
    }
    
    100% {
        right: 0px;
        width: 100vw;
        height: 100vh;
        opacity: 0;
        display: none;
    }
}

.beambg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background:red ;
    
    animation: beambg 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.usage-1 {
    padding-left: 3rem;
    margin-left: 2.5%;
}

.usage-2 {
    margin-left: 0%;
}

@keyframes beambg {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
        display: none;
    }
}

@media (max-width: 960px){
    body{ 
        margin-left: 0%;
        width: 100vw;
    }

    @keyframes beam-move {
        0% {
            right: -50px;
            width: 5vw;
            height: 5vh;
            opacity: 1;
            border-radius: 100%;
        }
        
        20% {
            right: -100px;
            width: 25vw;
            height: 25vh;
            border-radius: 100%;
            opacity: 1;
        }
        
        30% {
            right: 0px;
            width: 100vw;
            height: 50px;
            border-radius: 0%;
            opacity: 1;
        }
        
        100% {
            right: 0px;
            width: 100vw;
            height: 100vh;
            opacity: 0;
            display: none;
        }
    }
}

/*----■■■■■■■■----■■■■■■■■-----*/
/*----■■----------■■----■■-----*/
/*----■■■■■■■■----■■■■■■■■-----*/
/*----------■■----■■-----------*/
/*----■■■■■■■■----■■-----------*/

@media (max-width:768px){
    body {
        margin: 0px;
        display: flex;
        height: 100vh;
        width: 100vw;
        background-color: var(--main-bg-color-1);
        background-image: url('./images/background_roop.png');
        background-repeat: repeat;
        flex-direction: column;
    }

    main {
        overflow-y: auto;
        padding: 0px;
        padding-left: 10px;
        padding-right: 10px;
        height: 100vh;
        max-width: 100%;
        background-color: white;
        outline: 2px solid white;
    }

    nav {
        background-color:var(--main-color-1);
        color: white;
        width: 100vw;
        padding: 0px;
        display: flex;
        outline: 2px solid white;
    }

    nav .padding-box{
        display:none;
    }
    
    nav .box{
        color: white;
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: repeat(3, auto);
        width: 100%;
    }
    
    nav .pc-only{
        display: none;
    }
    
    nav a {
        color: white ;
        padding-top: 10px;
        border: 1px solid white;
        padding-bottom: 10px;
        padding-left:5px;
        padding-right:10px;
        white-space: nowrap;
    }
    
    nav a:hover {
        background: var(--main-color-2);
        scale: 100%;
    }
    
    .titleLogo {
        max-width:100%;
        display: flex;
        justify-content: center;
        margin-top: 4px;
    }

    .executeButton {
        background-color: var(--main-color-1);
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size:medium;
        white-space: nowrap;
    }
    
    .executeButton:hover{
        background-color: var(--main-color-1);
        transform: scale(1.0); 
        box-shadow: 2px 2px 5px var(--main-color-1);
    }
        
    .setter-buttons{
        display: flex;
        width: 90vw;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }

    .setter-buttons .item{
        margin: auto;
        width: 31%;
    }

    .usage-1 {
        padding-left: 2rem;
        margin-left: 1%;
    }
    
    .usage-2 {
        margin-left: -7%;
    }

    .sp-only-break{
        display: block;
    }

    @keyframes beam-move {
        0% {
            right: -10px;
            width: 2.5vw;
            height: 2.5vh;
            opacity: 1;
            border-radius: 100%;
        }
        
        20% {
            right: -100px;
            width: 12.5vw;
            height: 12.5vh;
            border-radius: 100%;
            opacity: 1;
        }
        
        30% {
            right: 0px;
            width: 100vw;
            height: 50px;
            border-radius: 0%;
            opacity: 1;
        }
        
        100% {
            right: 0px;
            width: 100vw;
            height: 100vh;
            opacity: 0;
            display: none;
        }
    }
}
