body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    padding: 10px;
    text-align: center;
}

.logo {
    width: 150px;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 200px;
    background: #444;
    color: white;
    padding-top: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background: #666;
}

main {
    flex: 1;
    padding: 20px;
    background: #f4f4f4;
}

.content-section {
    display: none;
}




table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}